<p class="text-lg mb-3">
  <strong>Groupes :</strong> Des groupes seront formés et permettront de faciliter la vie aux bleus (retrouver leurs cobleus, parrains/marraines, assistants, ...). Les messages seront sans doute "cryptés" pour les rassurer
</p>
<p class="text-lg mb-3">
  <strong>Messages privés :</strong> Des messages privés^ (à voir si c'est utile ou pas)
</p>

<div class="flex justify-content-end">
  <button pButton class="left-0" type="button" label="OK" (click)="ref.close()"></button>
</div>
