<p class="text-lg mb-3">
  <strong>Folklore :</strong> Une fois la bleusaille folklore passée, tous les sujets seront visibles ici (leur contenu sera peut être caché pour pas trop leur faciliter la vie). Des QCMs seront disponibles pour chacun d'entre eux. Une Démo de QCM est disponible en cliquant sur le bouton "Quiz"
</p>
<p class="text-lg mb-3">
  <strong>Chants :</strong> Les chants seront affichés uns à uns une fois qu'ils auront été vus par le grand inquisiteur en bleusaille. Un système de QCM est peut-être à imaginer pour les chants également.
</p>
<p class="text-lg mb-3">
  <strong>Pins :</strong> Il y aura également un tableau avec tous les pins de baptème et pourquoi pas un système de QCM aussi.
</p>
<p class="text-lg mb-3">
  *Le système de "Quiz" n'est pas encore en place, pour l'instant c'est simplement 4 questions aléatoires corrigées en direct 🙂
</p>

<div class="flex justify-content-end">
  <button pButton class="left-0" type="button" label="OK" (click)="ref.close()"></button>
</div>
