<div class="m-2">
  <h2 class="text-2xl">Messages</h2>

  <form [formGroup]="form" class="my-4">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-search" />
<!--        <input type="text" pInputText id="search" class="w-full" placeholder="Recherche" />-->
        <p-auto-complete
          class="w-full"
          formControlName="search"
          [suggestions]="filteredUsernames"
          (completeMethod)="filterUsers($event)"
          placeholder="Recherche"
          [forceSelection]="true"
          [optionLabel]="getDisplayName"
          (onSelect)="openConversation($event)"
          inputStyleClass="w-full"

        >
          <!-- Affichage dans la liste déroulante -->
          <ng-template let-user pTemplate="item">
            <p-avatar
              [image]="'https://primefaces.org/cdn/primeng/images/demo/avatar/elwinsharvill.png'"
              shape="circle"
              size="normal">
            </p-avatar>
            <span class="ml-2">{{ getDisplayName(user) }}</span>
          </ng-template>

          <!-- Affichage dans l'input après sélection -->
          <ng-template let-item="item" pTemplate="selectedItem">
            <span class="ml-2">{{ getDisplayName(item) }}</span>
          </ng-template>
        </p-auto-complete>
        <p-inputicon class="pi pi-spinner pi-spin" />
      </p-iconfield>
  </form>

  @for (channel of privateMessages; let i = $index; track channel.id){
    <div class="flex flex-row align-items-center">
      <p-avatar size="large" [image]="channel.recipient.avatarUrl"></p-avatar>
      <div class="flex flex-column m-1 mx-3">
        <div>{{ channel.recipient.username }}</div>
        <div class="font-light">lorem ipsum lorem ipsum</div>
      </div>
    </div>

    @if (i < (privateMessages?.length ?? 0) - 1) {
      <p-divider class="my-2" />
    }
  }

</div>
