<!-- Static page, no dynamic data here -->
<div class="p-2">
  <p class="text-2xl font-medium mb-3 text-center">
    /!\ DÉMO /!\
  </p>
  <p class="text-lg font-medium mb-3">
    Ceci est une démo de l'application, tout n'est pas encore fonctionnel et définitif 🙂
  </p>
  <p class="text-lg mb-3">
    Cette application est à voir comme un "site/ forum des bleus" elle a pour but de leur permettre de discuter entre eux, avec leurs parrains, leurs assistants ect.
  </p>
  <p class="text-lg mb-3">
    Elle leur permettra également de réviser leur folklore, une page avec le folklore et les chants (vus uniquement) est disponible. Ils seront obligés de faire un quotat de qcms tous les jours pour les entrainer à retenir leurs chants/ folklore.
  </p>
  <p class="text-lg mb-3">
    Cette version de démo contient un mélange de fonctionnalités, à terme les vues seront adaptées en fonction des rôles des gens. Ex: le bleu ne verra certainement pas les événements à venir (peut-être même pas ceux qui sont passés)
  </p>
  <p class="text-lg mb-3 font-italic">
    * L'application sera baptisés/ bleus only et est à voir comme un + au baptème. On ne s'en servira pas en bleusaille
  </p>

  <div class="flex justify-content-end">
    <button pButton class="left-0" type="button" label="OK" (click)="ref.close()"></button>
  </div>
</div>
