<!-- Blue-side template -->

<br>
<br>


<!--<h2 class="mt-4 mb-2 mx-5 text-3xl">Bonjour {{ (authService.isBlue()?"bleu":authService.currentUser()?.role) }}</h2>-->

@if (authService.isBlue()){

} @else {

}

<div class="flex flex-row justify-content-end">
  <h2 class="mt-4 mb-1 mx-4 text-3xl">Bonjour bleu</h2>

  <p-card class="m-4">
    <div class="flex flex-row align-items-center text-2xl"> 18:13:36</div>
  </p-card>
</div>

<p-card header="Statut" class="mx-4">
  <div class="flex flex-row justify-content-between">
    <div class="flex flex-row">
      <!--        <div class="flex align-items-center justify-content-center-->
      <!--        border-round bg-primary text-white-->
      <!--        w-3rem h-3rem shadow-2">-->
      <!--          <i class="pi pi-user text-3xl"></i>-->
      <!--        </div>-->
      <div>
        <div>Bleu Wensel</div>
        <div>21ans</div>
        <div><i>Penne bleue</i></div>
      </div>
    </div>
    <div class="flex flex-row align-items-end"> <!-- blocage de la valeur directement depuis le CSS pour ne pas avoir le style grisé "disabled" -->
      <p-knob style="pointer-events: none;" [ngModel]="-15" [min]="-50" [max]="50" [ariaLabel]="'Score'" valueColor="#ff9d00" />
      <i class="pi pi-info-circle text-1xl bottom-0" (click)="showScoreInfoDialog()"></i>
    </div>
  </div>
</p-card>

<p-card header="Message divin" class="m-4 my-3">
  <ng-template #subtitle>
    <p class="m-0">
      J'espère que ces connards ont faim ce soir...
    </p>
  </ng-template>
</p-card>

<div class="m-4 my-3 flex flex-row justify-content-between gap-2">
  <p-card header="Meilleurs bleus 👑" class="col-6">
    <div class="flex flex-column mt-4">
    @if (false) {
      @for (best of bests; let i = $index; track best.id){
        <div class="flex flex-row align-items-start justify-content-between">
          <div class="flex flex-row align-items-center ml-2"> {{ best.lastname }}</div>
        </div>

        @if (i < (targets?.length ?? 0) - 1) {
          <p-divider class="my-2" />
        }
      }
    } @else {
      <div class="flex flex-row align-items-start justify-content-between">
        <div class="flex flex-row align-items-center ml-2">Aucun mdr</div>
      </div>
    }
    </div>
  </p-card>
  <p-card header="Target 🎯" class="col-6">
    <div class="flex flex-column mt-4">
      @for (target of targets; let i = $index; track target.id){
        <div class="flex flex-row align-items-start justify-content-between">
          <div class="flex flex-row align-items-center ml-2"> {{ target.lastname }}</div>
        </div>

        @if (i < (targets?.length ?? 0) - 1) {
          <p-divider class="my-2" />
        }
      }
    </div>
  </p-card>
</div>

<!--<p-card header="Prochaines activités " class="m-2 my-3">-->
<!--  <p-carousel class="mt-2" [value]="products" [page]="1" [circular]="false" [responsiveOptions]="responsiveOptions">-->
<!--    <ng-template let-product #item>-->
<!--      <div class="border border-surface rounded-border m-2 p-4">-->
<!--        <div class="mb-4">-->
<!--          <div class="relative mx-auto">-->
<!--  &lt;!&ndash;          <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-full rounded-border" />&ndash;&gt;-->
<!--            <img [src]="product.pictureUrl" [alt]="product.name" class="w-full rounded-border">-->
<!--            <p-tag [value]="product.inventoryStatus" [severity]="product.severity" class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mb-4 font-medium text-xl">{{ product.name }}</div>-->
<!--        <div class="flex justify-content-between">-->
<!--          <div class="mt-0 font-semibold text-xl"><i class="pi pi-calendar"></i> {{ product.date }}</div>-->
<!--          <span>-->
<!--              <p-button icon="pi pi-copy" severity="secondary" [outlined]="true" />-->
<!--              <p-button icon="pi pi-share-alt" styleClass="ml-2" />-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </p-carousel>-->
<!--</p-card>-->
<!--<h3 class="mt-4 mb-2 mx-5 text-2xl"></h3>-->

<div class="h-5rem"></div>
