<!-- Static page, no dynamic data here -->
<div class="p-2">
  <p class="text-lg mb-3">
    <strong>Score du bleu :</strong> (-15 ici), l'idée est que le bleu aurait un score qui, démarrant de 0, descendrait de jour en jour et aurait un seul limite ex : 45 (aller bouffer bleus. pro., aller en recall ou autre).
  </p>
  <p class="text-lg mb-3">
    Pour éviter de descendre à -45 le bleu devrait faire des exercices de folklore qui lui feraient gagner des points (ex 4 questions correctes = +1point).
  </p>
  <p class="text-lg mb-3">
    => L'idée est de le forcer à étudier régulièrement son folklore
  </p>
  <p class="text-lg mb-3">
    <strong>Events :</strong> Ils ne seront certainement pas visibles pour les bleus mais serviront aux parrains/ass/capes/anciens.
  </p>





  <div class="flex justify-content-end">
    <button pButton class="left-0" type="button" label="OK" (click)="ref.close()"></button>
  </div>
</div>
